<h3>Nueva Salida de Producto</h3>
<form (ngSubmit)="guardarSalida()">
  <label>Producto ID:</label>
  <input [(ngModel)]="salida.product_id" name="product_id" required />

  <label>Cantidad:</label>
  <input type="number" [(ngModel)]="salida.quantity" name="quantity" required />

  <label>Unidad:</label>
  <input [(ngModel)]="salida.unit" name="unit" />

  <label>Lote:</label>
  <input [(ngModel)]="salida.lot" name="lot" />

  <label>Usuario ID:</label>
  <input [(ngModel)]="salida.user_id" name="user_id" required />

  <label>Inventario ID:</label>
  <input [(ngModel)]="salida.inventory_id" name="inventory_id" required />

  <button type="submit">Guardar Salida</button>
</form>
