<header>
  

    <div class="cabesera">  
          <button class="home-btn">
  <i class="fas fa-house"></i>
</button>  
<h1>Inicio</h1>
    </div>
</header>

<main>
    <div class="contend">
        <div class="yellow">
            <p>Producto con mas salidas del mes en curso</p>
            <div class="contend2">
            <div class="price">
                <p><strong>600</strong>und</p> <br><p> Boligrafos </p>
            </div>
            <div class="feccha"><p><strong>29\06\2025</strong></p></div>
            </div>
        </div>

        <div class="blue">
            <p>total salidas en curso</p>
            <div class="contend3">
            <div class="price3">
                <p><strong>1.842</strong>und</p> <br><p> Respeto al mes anterior </p> <br><p>+15%</p>
            </div>
        </div>
</div>
        <div class="coffe">
            <p>Total devoluciones mes en curso</p>
            <div class="contend4">
            <div class="price4">
                <p><strong>600</strong>und</p> <br><p> Respeto al mes anterior</p> <br> <p>+15%</p>
            </div>
        </div>
    </div>

