<div class="navbar">
    <nav>
      <a (click)="goBack()" class="logo-link" role="button">
        <img src="/logo-smartinventory.png" alt="logo de la empresa" class="logo_empresa">
      </a>

        <div class="menu">
            <ul>
                <li><a href="#">SERVICIOS</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="#">AYUDA</a></li>
            </ul>
        </div>
<a *ngIf="showLoginLink" [routerLink]="['/login']" class="ir button-like">INGRESAR</a>
    </nav>
</div>
