
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section1">
      <h3>Smart Inventory</h3>
      <p>Controlando el presente, planificando el futuro.</p>
    </div>

    <div class="footer-section2">
      <h4>Enlaces</h4>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Acerca</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <div class="footer-section3">
      <h4>Síguenos</h4>
      <div class="footer-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 Smart Inventory. Todos los derechos reservados.
  </div>
</footer>



